body{
font-family: Arial;
margin:0;
background:#f3f5fb;
}



.loginPage{
width:380px;
margin:100px auto;
background:white;
padding:40px;
text-align:center;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.logo{
width:60px;
margin-bottom:10px;
}

.subtitle{
color:gray;
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin-top:10px;
border-radius:6px;
border:1px solid #ddd;
}

button{
width:100%;
padding:12px;
margin-top:15px;
border:none;
background:linear-gradient(90deg,#6a11cb,#2575fc);
color:white;
border-radius:6px;
cursor:pointer;
}

.hint{
font-size:12px;
color:#6a11cb;
text-align:left;
}

.demoBox{
margin-top:20px;
background:#f2f2f2;
padding:12px;
border-radius:6px;
font-size:14px;
}



header{
display:flex;
justify-content:space-between;
align-items:center;
background:white;
padding:15px 40px;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logoArea{
display:flex;
align-items:center;
gap:10px;
}

.logoArea img{
width:30px;
}

.searchBox input{
padding:8px;
}

.tabs{
margin:30px;
}

.tabs button{
width:auto;
padding:10px 25px;
border:1px solid #ddd;
background:white;
margin-right:10px;
}

.tabs .active{
background:#5b2be0;
color:white;
}



.issuesHeader{
display:flex;
justify-content:space-between;
margin:0 30px 20px;
}

.openDot{
width:10px;
height:10px;
background:green;
border-radius:50%;
display:inline-block;
}

.closedDot{
width:10px;
height:10px;
background:purple;
border-radius:50%;
display:inline-block;
}



.issuesGrid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:30px;
}



.card{
background:white;
padding:15px;
border-radius:8px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
cursor:pointer;
}

.card.open{
border-top:4px solid green;
}

.card.closed{
border-top:4px solid purple;
}

.card h4{
margin:0;
}

.card p{
font-size:13px;
color:gray;
}


.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.5);
display:flex;
justify-content:center;
align-items:center;
}

.modalContent{
background:white;
padding:30px;
width:400px;
border-radius:10px;
}

.hidden{
display:none;
}


@media (max-width:576px){

header{
flex-direction:column;
}

.issuesGrid{
grid-template-columns:1fr;
}

.modalContent{
width:90%;
}

}
